html {
    min-height: 100%;
    height: 100%;
    position: relative;
}
body {
    height:100%;
    min-height: 100%;
    position:relative;
    overflow-y: hidden;
}
#wrap {
    min-height: 100%;
    height: 100%;
    margin: 0 auto 0px;
    padding: 50px 0 40px;
    overflow-y: auto;
}

.paddingoff {
    padding: 0;
}

.marginoff {
    margin: 0;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    border-top: 1px solid #E5E5E5;
    background-color: #F5F5F5;
    text-align: center;
    color: #777777;
    z-index: 500;
}

.footer-links {
    margin-top: 20px;
    padding-left: 0;
}
.footer-links li {
    display: inline;
    padding: 0 2px;
}
.footer-links li:first-child {
    padding-left: 0;
}
.footer-links ul li {
    display: block;
}

.page-header {
    border-bottom: 1px solid #EEEEEE;
    margin: 40px 0 20px;
    padding-bottom: 9px;
}

#contact_msg{
    resize: vertical;
    min-height: 250px;
    max-height: 400px;
}

#friendinvite{
    padding: 10px;
}

#friendinvite input[type=text]{
    width: 250px;
}
#friendinvite .alert{
    padding: 5px !important;
    margin-bottom: 10px !important;
}

.displaynone{
   display: none;
}

/* Online indicator */
.UserOnline, .UserOffline {
    height: 20px;
    min-width: 100px;
    max-width: 400px;
    margin: 5px;
    background-repeat: no-repeat;
}

.UserOnline span, .UserOffline span{
    margin-left: 25px;
    white-space: nowrap;
}

.UserOnline {
    background-image: url('/img/online-icon.png');
}
.UserOffline {
    background-image: url('/img/online-red-icon.png');
}

#nav_invitation ul li div, #nav_friends ul div{
    height: 20px;
    min-width: 40px;
    max-width: 800px !important;
    margin: 5px;
    text-align: left;
    white-space: nowrap;
}

#nav_invitation ul span, #nav_friends ul span{
    white-space: nowrap;
    vertical-align: middle;
}

.divider-vertical {
    height: 50px;
    margin: 0 3px;
    border-left: 1px solid #e3e3e3;
    border-right: 1px solid #ffffff;
}

.invbutton {
    margin-right: 4px;
}

#workbench{
    background-color: #E5E5E5;
}

.width100p{
    width: 100% !important;
}

.height100p{
    height: 100% !important;
}

.note{
    border: 1px solid #AAAAAA;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding: 2px;
    position: absolute !important;
    -webkit-box-shadow: 0px 4px 18px -4px rgba(0,0,0,0.49);
    -moz-box-shadow: 0px 4px 18px -4px rgba(0,0,0,0.49);
    box-shadow: 0px 4px 18px -4px rgba(0,0,0,0.49);
    /*background-color: yellowgreen;*/
}

.noteheader, .notefooter{
    position: relative;
    width: 100%;
    height: 28px;
    border: 1px solid #E5E5E5;
    background-color: #EEEEEE;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    color: #777777;
}

.noteheader {
    top: 0;
}

.notefooter {
    bottom: 5px;
}



.noteheader .noteheadline{
    width: calc(100% - 30px);
    position: relative;
    top: -27px;
    text-align: left;
}

.notebuttons{
    position: relative;
}

.noteheader .notebuttons{
    text-align: right;
}

.notefooter .notebuttons{
    text-align: left;
}

.noteheader button, .notefooter button {
    margin: 2px;
}

.note textarea{
    height: calc(100% - 56px);
    top: 30px;
    bottom: 30px;
    padding: 5px;
    resize: none;
    border: none;
}
.note input{
    border: none;
    margin-top: 3px;
    margin-left: 2px;
    background-color: #EEEEEE;
    width: 100%;
}


.note_friend_content{
    margin-left: 0px;
    padding-left: 0px;
    list-style: none;
}

.note_friend_content .list_headline{
    font-style: italic;
    font-size: 9pt;
}

.note_friend_content .noteInviteFriend{
    margin-right: 5px;
}