extends layout
block content

    if loggedin
        input(id='invite_email',type='text',value='',placeholder='Email',name='invite_email')
        input(id='invite_button',type='button',value='invite')
        br
        a(class='button', href='/logout') logout

    else
        a(class='button', href='/register') Register
        br
        a(class='button', href='/login') Login