extends layout
block content

    div(class='container')
        div(class='row')
            div(class='col-md-10 col-md-offset-1')
                div(class='page-header text-center')
                    img(class='img-header' src='/img/nodenotes.png' alt='welcome')

        div(class='row index-info text-center')
            div(class='col-sm-6 col-md-4')
                h2
                    span(class='glyphicon glyphicon-comment')
                    br
                    | &nbsp;unvergesslich
                p Speichern sie alles was sie nicht vergessen wollen.

            div(class='col-sm-6 col-md-4')
                h2
                    span(class='glyphicon glyphicon-cloud')
                    br
                    | &nbsp;immer und überall
                p Greifen sie weltweit und zu jeder Zeit auf ihre Notizen zu.

            div(class='col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-0')
                h2
                    span(class='glyphicon glyphicon-share')
                    br
                    | &nbsp;sozial
                p Teilen sie ihre Notizen mit ihren Freunden und arbeiten Sie geinsam an ihnen.