doctype html
html
    head
        title NodeNotes

        link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')
        link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css')
        link(rel='stylesheet', href='//code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css')
        link(rel='stylesheet', href='/css/style.css')

        script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
        script(src='//code.jquery.com/ui/1.11.0/jquery-ui.js')
        script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js')
        script(src='/socket.io/socket.io.js')
        script(src='/js/jquery.cookie.js')
        script(src='/js/client.js')

    body
        nav(id='myNavbar', class='navbar navbar-default navbar-fixed-top', role='navigation')
            div(class='container')
                div(class='navbar-header')
                    button(type='button', class='navbar-toggle', data-toggle='collapse', data-target='.navbar-collapse')
                        span(class='sr-only') toggle navigation
                        span(class='icon-bar')
                        span(class='icon-bar')
                        span(class='icon-bar')
                    a(class='navbar-brand', href='/') nodenotes
                    block note_navbar
                div(class='navbar-collapse collapse')
                    if loggedin

                        ul(class='nav navbar-nav navbar-right')
                            li(class='dropdown' id='nav_friends')
                                a(href='#', data-toggle='dropdown', class='dropdown-toggle')
                                    div(class='notification-icon')
                                        span(class='glyphicon glyphicon-user')
                                        span(class='badge')
                                        span(class='caret')
                                ul(class='dropdown-menu')
                                    li(id='nofriends')
                                        div
                                            span Sie haben noch keine Freunde
                            li(class='dropdown', id='nav_friendinvitation')
                                a(href='#', data-toggle='dropdown', class='dropdown-toggle')
                                    div(class='notification-icon')
                                        span(class='glyphicon glyphicon-user')
                                        span(class='glyphicon glyphicon-envelope')
                                        span(class='badge')
                                        span(class='caret')
                                ul(class='dropdown-menu text-right')
                                    li(id='noopeninv')
                                        div
                                            span Keine offenen Einladungen

                            li(class='dropdown')
                                a(href='#', data-toggle='dropdown', class='dropdown-toggle')
                                    div(class='notification-icon')
                                        span(class='glyphicon glyphicon-user')
                                        span(class='glyphicon glyphicon-plus')
                                ul(class='dropdown-menu')
                                    li
                                        fieldset
                                            div(class='control-group')
                                                div(class='controls', id='friendinvite')
                                                    div(class='alert alert-success displaynone') Einladung erfolgreich
                                                    div(class='alert alert-danger displaynone')
                                                        span Einladung fehlgeschlagen
                                                        br
                                                        span(id='friendinvitation_errmsg')
                                                    input(id='invite_email',type='text',value='',placeholder='Email',name='invite_email', class='input-sm form-control stayopen')
                                                    p
                                                    input(id='invite_button',type='button',value='Einladung senden', class='btn btn-success btn-sm stayopen')
                            li(class='dropdown')
                                a(href='#', data-toggle='dropdown', class='dropdown-toggle')
                                    span(class='glyphicon glyphicon-cog')
                                    span(class='caret')
                                ul(class='dropdown-menu')
                                    li
                                        a(href='/usersettings')
                                            span(class='glyphicon glyphicon-wrench')
                                            span &nbsp;&nbsp;Kontoeinstellungen
                                    li
                                        a(href='/logout')
                                            span(class='glyphicon glyphicon-off')
                                            span &nbsp;&nbsp;Ausloggen

                    else
                        ul(class='nav navbar-nav navbar-right')
                            li
                                a(href='/login') Einloggen
                            li
                                a(href='/register') Registrieren

        div(id='wrap')
            block content

        footer(id='footer')
            div(class='container')
                ul(class='footer-links')
                    li &copy; 2014 NodeNotes
                    li
                        a(href='/contact') Kontakt
                    li
                        a(href='/about') Impressum
                    li
                        a(href='/privacy') Datenschutzerklärung
