extends layout

block content
    div(class='container')
        div(class='row')
            div(class='col-sm-8 col-md-10 col-lg-12')
                div(class='page-header')
                    h3 Einloggen
                    div(class='col-lg-8')
                        if error
                            br
                            div(class='alert alert-danger')
                                a(class='close', data-dismiss='alert') &times;
                                span Anmeldung fehlgeschlagen

                        form(class='form-horizontal', action='/login',method='post')
                            fieldset
                                p
                                div(class='control-group')
                                    label(class='control-label' for='login_email') E-Mail-Adresse
                                    div(class='controls')
                                        input(id='login_email', name='email', type='text', placeholder='E-Mail-Adresse', class='input-xlarge form-control')
                                div(class='control-group')
                                    label(class='control-label' for='login_pass') Passwort
                                    div(class='controls')
                                        input(id='login_pass', name='password', type='password', placeholder='Passwort', class='input-xlarge form-control')
                                p
                                div(class='control-group')
                                    div(class='controls')
                                        button(id='login_submit', type='submit', class='btn btn-success') Absenden