extends layout
block content

    p da workbench!

    input(id='invite_email',type='text',value='',placeholder='Email',name='invite_email')
    input(id='invite_button',type='button',value='invite')

