extends layout
block content
    div(id='workbench', class='width100p height100p')

block note_navbar
    ul(class='nav navbar-nav')
        li(class='pull-left')
            a(href='javascript:void(0);', id='note_new')
                span(class='glyphicon glyphicon-file')
                span(class='glyphicon glyphicon-plus')
        li(class='pull-left')
            a(href='javascript:void(0);')
                span(class='glyphicon glyphicon-th-large')
                span(class='glyphicon glyphicon-arrow-right')
        li(class='pull-left')
            a(href='javascript:void(0);')
                span(class='glyphicon glyphicon-th-large')
                span(class='glyphicon glyphicon-arrow-down')

