extends layout

block content
    h1 Register
    if complete
        p your registration is completed
    else
        if reg_success
            p registration successfull
            //if mail_success
            //    p a mail was send...
        else
            form(action='/register',method='post')
                input(id='reg_displayname',type='text',value='', placeholder='Anzeigename',name='display_name')
                input(id='reg_firstname',type='text',value='', placeholder='Vorname',name='first_name')
                input(id='reg_lastname',type='text',value='', placeholder='Nachname',name='last_name')
                input(id='reg_email',type='text',value='',placeholder='Email-Adresse',name='email')
                input(id='reg_password',type='password',value='',placeholder='Passwort',name='password')
                input(id='reg_passwordrpt',type='password',value='',placeholder='Password wiederholen',name='passwordrpt')
                input(type='submit',value='Registrieren')
